.learncard{
	width: 200px;
	/*height: 70px;*/
	margin: 20px 9.5px 14px 32px;
	padding: 13px 83px 13px 15px;
	border-radius: 5px;
	border: solid 0.5px #e8e8ed;
	background-color: #fff;
	vertical-align: middle;
}

.learnicon{
	display: inline-block;
}

.headtext{
	vertical-align: middle;
}

.textdiv{
	/*height: 80px;*/
	display: inline-block;
	vertical-align: middle;
}