div.resourcecard {
  width: 220px;
  height: 138.5px;
  margin: 20px 20px 20px 3px;
  padding: 14px 6px 14.5px 20px;
  border-radius: 5px;
  border: solid 0.5px #d1d1d6;
  background-color: #fff;
}

span.knowmore{
  width: 41px;
  height: 10px;
  margin: 0 2.5px 0 0;
  align-items: left;
  color: #405cd2;
}

a{
  font-size: 8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}